<div class="inner_bio">
  <%= image_tag "bio.jpg", :height => '500' %><br>
</div>

<div class="inner_bio">
  <p class="text-left">
    2017年6月 結成<br>
    2017年12月 金沢vanvanV4での初ライブを皮切りにライブ活動を開始する<br>
    2018年10月 1st demoをリリース<br>
    2019年12月 1st EP "錯綜"をリリース<br>
    2020年1月 金沢某所で1st EPリリースライブを行う<br>
    2020年3月 新宿ANTIKNOCKで1st EPリリースライブを行う<br>
    2020年12月 1st single "秘すれば花"をリリース<br>
  </p>
</div>

<div class="line_bio">
</div>

<div class="inner_bio">
  <p class="text-left">
    <small>
      Eiji Nagashima | Vocal<br>
      Koga Ogino | Guitar<br>
      Atsuya Yoshioka | Guitar<br>
      Wataru Asano | Bass<br>
      Ryo Watanabe | Drums<br>
    </small>
  </p>
</div>
