<%= image_tag "bio.jpg", :height => '500' %><br>

<div class="inner">
  <p class="text-left">
    ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
  </p>
</div>

<div class="line">
</div>

<div class="inner">
  <p class="text-left">
    <small>
      Eiji Nagashima | Vocal<br>
      Koga Ogino | Guitar<br>
      Atsuya Yoshioka | Guitar<br>
      Wataru Asano | Bass<br>
      Ryo Watanabe | Drums<br>
    </small>
  </p>
</div>
