header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Outside Her Vision", root_path, id: "logo"
    nav
      ul.nav.navbar-nav.navbar-right
        li
          = link_to "NEWS",    news_pages_path
        li
          = link_to "LIVE",    live_calendar_page_path
        li
          = link_to "BIO",     bio_page_path
        li
          = link_to "MUSIC",   cd_pages_path
        li
          = link_to "VIDEOS",  video_page_path
        li
          = link_to "CONTACT", new_contact_page_path
        - if admin_signed_in?
          li
            = link_to "LOGOUT", destroy_admin_session_path, method: :delete
